@font-face {
    font-family: Ubuntu;
    src: url("../fonts/ubuntu-font-family-0.83/Ubuntu-B.ttf"),format("truetype"),
    /* url("../fonts/__MACOSX/ubuntu-font-family-0.83/._Ubuntu-B.ttf"),format("truetype") */
}
*{
    font-family: Ubuntu;
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}
webview{
    width: 100vw;
    height: calc(100vh - 23px);
}
input[type=text]{
    width: calc(100vw - 8px);
    height: 17px;
    overflow: hidden;
    background-color: black;
    color: white;
}
input[type=text]:focus{
    outline-color: blue;
}