*{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
}
body{
    text-align: center;
    background-color: black;
    color: white;
}
button{
    background-color: blue;
    border-color: rgb(0, 0, 222);
    color: white;
}
button:hover{
    background-color: darkblue;
}
span{
    color: blue;
}
span:hover{
    cursor: pointer;
}