@font-face {
    font-family: Ubuntu;
    src: url("../fonts/ubuntu-font-family-0.83/Ubuntu-B.ttf"),format("truetype"),
    url("../fonts/__MACOSX/ubuntu-font-family-0.83/._Ubuntu-B.ttf"),format("truetype")
}
*{
    font-family: Ubuntu;
}
body{
    text-align: center;
    background-color: black;
    color: white;
}
button{
    background-color: blue;
    border-color: rgb(0, 0, 222);
    color: white;
}
button:hover{
    background-color: darkblue;
}
span{
    color: blue;
}
span:hover{
    cursor: pointer;
}